<a href="https://colab.research.google.com/github/mohammad0alfares/EDA/blob/master/HubwayChallenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:

url = 'https://raw.githubusercontent.com/brl1906/HubwayChallenge/master/Hubway/Data/201712-hubway-tripdata.csv'
df=pd.read_csv(url)

In [4]:
df.head()

   tripduration            starttime  ... birth year  gender
0           200  2017-12-01 00:02:02  ...       1982       0
1           365  2017-12-01 00:06:14  ...       1997       1
2           297  2017-12-01 00:09:08  ...       1977       1
3          1128  2017-12-01 00:09:36  ...       1991       1
4          2594  2017-12-01 00:10:47  ...       1963       1

[5 rows x 15 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55072 entries, 0 to 55071
Data columns (total 15 columns):
tripduration               55072 non-null int64
starttime                  55072 non-null object
stoptime                   55072 non-null object
start station id           55072 non-null int64
start station name         55072 non-null object
start station latitude     55072 non-null float64
start station longitude    55072 non-null float64
end station id             55072 non-null int64
end station name           55072 non-null object
end station latitude       55072 non-null float64
end station longitude      55072 non-null float64
bikeid                     55072 non-null int64
usertype                   55072 non-null object
birth year                 55072 non-null object
gender                     55072 non-null int64
dtypes: float64(4), int64(5), object(6)
memory usage: 6.3+ MB

In [6]:
tot_trip_count = df.groupby('usertype')['tripduration'].count()
print(tot_trip_count)

usertype
Customer       1980
Subscriber    53092
Name: tripduration, dtype: int64

In [8]:
tot_trip_dur = df.groupby('usertype')['tripduration'].sum()
print (tot_trip_dur)

usertype
Customer       8333773
Subscriber    38751599
Name: tripduration, dtype: int64

In [0]:

avg_dur_sub = tot_trip_dur[0]/tot_trip_count[0]
avg_dur_cas = tot_trip_dur[1]/tot_trip_count[1]
print ('Average Trip Duration for Subscribers=',avg_dur_sub)
print ('Average Trip Duration for Subscribers=',avg_dur_cas)